<!DOCTYPE html>
<html class="light-blue">
  <head>
    <meta charset="utf-8">
    <title>Registro de Usuário</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../../public/css/style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="row">
      <div class="col s12 z-depth-4 card-panel">
        <form id="registro-form" method="post">
          <div class="row">
            <div class="input-field col s12 center">
              <h4>Registrar</h4>
              <p class="center">Participe agora da nossa comunidade!</p>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="material-icons prefix">person_outline</i>
              <input type="text" id="login" class="validate" minlength="5" required>
              <label for="login" class="center-align" data-error="Minimo de 5 caracteres" data-success="Ok!">Login</label>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="material-icons prefix">mail_outline</i>
              <input type="email" id="email" class="validate" required>
              <label for="email" class="center-align" data-error="Email inválido" data-success="Ok!">Email</label>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input type="password" id="senha" class="validate" minlength="5" required>
              <label for="senha" class="center-align" data-error="Minimo de 5 caracteres" data-success="Ok!">Senha</label>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input type="password" id="senhaconfirm" class="validate" minlength="5" required>
              <label for="senhaconfirm" class="center-align" data-error="Senha não confere" data-success="Ok!">Confirme a senha</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="submit" value="Registrar" name="action" class="btn waves-effect waves-light col s12" id="registrar">
            </div>
            <div class="input-field col s12">
              <p class="margin center medium-small sign-up">Já possui uma conta? <a href="login.html">Login</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>
